.search{
    color: aquamarine;
    border-radius: 70px;
    border-color: aquamarine;
    width: 120px;
    height: 30px;
    background-color: white;
}
.plus_Button
{
    background-color: aquamarine;
    padding: 10px 11px;
    border-radius: 50%;
    border-color: aquamarine;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.CreateAccount{
    background-color: blue;
    color: white;
    border-color: black;
    height: 40px;
    width: 150px;
    box-shadow: 5px 5px 5px black;
}
.CreateAccount:active{
    box-shadow: 0px 0px 0px black ;
}

div{
    margin-left: 20px;
    margin-top: 30px;

}